
body {
    font-family: 'Source Code Pro', monospace;
    background: #B24592;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #02182B, #0197F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02182B, #0197F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h1.major,
  h2.major,
  h3.major,
  h4.major,
  h5.major,
  h6.major {
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin-bottom: 20px;
  }
a {
    color: #33A9B7;
  }
  #typer-size{
      font-size: 40px;
  }
a:hover,
a:focus {
    color: #00E4FF;
    text-decoration: none;
  }
header {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100px;
    color: white;
    top: 0;
    padding-top: 0px;
    align-items: center;
    background: -webkit-linear-gradient(to right, #02182B, #0197F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02182B, #0197F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* border: 1px solid #fff; */

  }

header ul {
    padding-left: 0;
    text-align: center;
}
header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
header ul li a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
header .menu{
    padding-top: 0;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 20vh;
    width: 100%;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    /* border: 1px solid red; */
    justify-content: space-between;
    z-index: 999;
}
.logo img {
    width: 400px;
}
.msg {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    top: 170px;
}
.vert-text {
    display:inline-table;
    position: relative;
    vertical-align:bottom;
    padding-top: 100px;
    width: 100vw;
    height: 25vh;
    text-align: center;
    /* border: 1px solid blue; */
    color: #fff;
    z-index: -999;
}
.vert-text #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
  }
.vert-text .scroll-down {
    display: block;
    position: absolute;
    bottom: 12%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.vert-text .scroll-down:hover {
    opacity: 0.5;
}
.vert-text .scroll-down::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
.vert-text .scroll-down::before {
    position: absolute;
    top: -22px;
    left: -22px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
}

.zayn{
      margin-top: -70px;
}
  
.p-img{
      text-align: center;
      position: relative;
      top: -70px;
}
img{
      z-index: 100;
      border-radius: 50%;
      width: 170px;
      height:170px;
}
/* YBA TOOL */

.frame {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    width: max-content;
    height: max-content;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 250px;
    margin-top: 320px;
    position: relative;
    z-index: -99;
  }
  
  .mainbox1 {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    /* background-color: lightgrey; */
    width: 900px;
    height: 248px;
    position: relative;
    margin: auto;
  }
  .box1 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .box2 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 5px;
    left: 275px;
  }
  .box3 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 190px;
    left: 350px;
    z-index: 50;
  }
  .box4 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .mainbox2 {
    border-right: 5px solid black;
    border-left: 5px solid black;
    color: aliceblue;
    /* background-color: lightcyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 900px;
    position: absolute;
    top: 250px;
    margin: auto;
  }
  .box5 {
    border: 1px solid black;
    border-radius: 150%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 500px;
    position: absolute;
    top: 200px;
    right: 312.5px;
  }
  .box6 {
    border: 1px solid black;
    border-radius: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 255px;
    position: absolute;
    top: 10px;
    right: 90px;
  }
  .box7 {
    border: 1px solid black;
    border-radius: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 255px;
    position: absolute;
    top: 10px;
    left: 90px;
  }
  .box8 {
    border: 1px solid black;
    border-radius: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 255px;
    position: absolute;
    bottom: 10px;
    left: 90px;
  }
  .box9 {
    border: 1px solid black;
    border-radius: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 255px;
    position: absolute;
    bottom: 10px;
    right: 90px;
  }
  .box10 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 350px;
    position: absolute;
    top: 275px;
    right: 5px;
  }
  .box11 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 350px;
    position: absolute;
    top: 275px;
    left: 5px;
  }
  .box12 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    position: absolute;
    top: 405px;
    left: 275px;
  }
  .box13 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightcoral;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 175px;
    position: absolute;
    top: 378px;
    left: 100px;
    z-index: 20;
  }
  .box14 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightcoral;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 175px;
    position: absolute;
    top: 378px;
    right: 100px;
    z-index: 20;
  }
  .mainbox3 {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    /* background-color: lightgrey; */
    width: 900px;
    height: 248px;
    position: absolute;
    top: 1150px;
    margin: auto;
  }
  .box15 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  .box16 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    position: absolute;
    bottom: 5px;
    left: 275px;
  }
  .box17 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    position: absolute;
    bottom: 190px;
    left: 350px;
    z-index: 50;
  }
  .box18 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  textarea {
    border: 3px solid black;
    background-color: transparent;
    margin: auto;
    width: 330px;
    height: 70px;
    resize: none;
  }
  #box11x {
    width: 320px;
    height: 60px;
    transform: rotate(-90deg);
  }
  .popup {
    position: fixed;
    padding: 10px;
    width: 1000px;
    height: 700px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.9);
    visibility: hidden;
    overflow-y: scroll;
    opacity: 0.7;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    /* "delay" the visibility transition */
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
  }
  .popup:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.9);
  }
  .popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    transition: color .3s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
  }
  .popup .close:hover {
    color: #00E5EE;
  }
  
  .close-popup {
    background: rgba(0,0,0,.7);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
  }
  .popup:target + .close-popup{  
    opacity: 1;
    visibility: visible;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
